body {
  background-image: url('images/kitty-collage.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.back {
  text-align: right;
  width: 150px;
  cursor: pointer;
  transition: .5s;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 0px #420505;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  position: absolute;
  top: 10px;
  left: -70px;
}
a:link, a:visited {
  color: rgb(255, 255, 255); /* Keep the link color black even when visited */
}
.back:hover {
  opacity: .75;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  color: black;
  font-family: Impact;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.Socials-p {
  font-size: 30px;
  text-align: left;
  color: white;
  text-shadow: 3px 3px 3px black;
}
.Socials-div {
  position: absolute;
  bottom: 0;
}
.thx {
  font-size: 30px;
  color: aqua;
  text-shadow: 3px 3px 3px black;
}
.first {
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 20px;
}
.more {
  margin-top: 10px;
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 20px;
}
.almost {
  margin-top: 20px;
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 20px;
}
.swe {
  color: rgb(181, 10, 181);
  margin-top: 30px;
  font-size: 30px;
  text-shadow: 3px 3px 3px black;
}
.last {
  color: white;
  margin-top: 10px;
  font-size: 20px;
  text-shadow: 3px 3px 3px black;
}
.final {
  margin-top: 30px;
  color: chartreuse;
  font-size: 25px;
  text-shadow: 3px 3px 3px black;
}
.sci {
  color: red;
}