body {
  background-image: url('images/kitty-collage.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}
p {
  color: black;
  font-family: Impact;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
a:link, a:visited {
  color: rgb(255, 255, 255); /* Keep the link color black even when visited */
}
.backk:hover {
  opacity: .75;
}
a {
  color: inherit;
  text-decoration: none;
}
.backk {
  text-align: right;
  width: 150px;
  cursor: pointer;
  transition: .5s;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 0px #420505;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  position: absolute;
  top: 10px;
  left: -70px;
}
.top {
  color: aqua;
  font-size: 45px;
  text-shadow: 3px 3px 3px black;
}
.rules {
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 20px;
}
.start {
  color: white;
  
}
img {
  display: flex;
  flex-wrap: wrap;  /* Allow images to wrap to a new line if needed */
  gap: 20px;        /* Add space between images */
  justify-content: space-around;  /* Spread images evenly */
}

img {
  width: 150px;   /* Set image size */
  height: 150px;  /* Make the image square */
  cursor: pointer; /* Add a pointer to show it's clickable */
}